.button {
	width: 16rem;
	height: 3rem;

	font: 1.65rem "Sen", sans-serif;
	text-transform: uppercase;

	color: var(--foreground);
	background-color: var(--background-200);

	border: 0;
	box-shadow: 0 9px var(--shadow-400);
	border-radius: 0.5rem;

	&:active {
		background-color: var(--background-300);
		box-shadow: 0 4px var(--shadow-400);
		transform: translateY(5px);
	}
}

// CSS É MARA!

.button.green {
	--foreground: var(--white);
	--background-200: var(--green-200);
	--background-300: var(--green-300);
	--shadow-400: var(--green-400);
}

.button.red {
	--foreground: var(--white);
	--background-200: var(--red-200);
	--background-300: var(--red-300);
	--shadow-400: var(--red-400);
}

.button.gray {
	--foreground: var(--black);
	--background-200: var(--gray-100);
	--background-300: var(--gray-300);
	--shadow-400: var(--gray-400);
}
