.headerContainer {
	display: flex;
	flex-direction: row;
	align-items: center;

	background: var(--gray-600);
	color: var(--white);

	padding: 0 2rem;
	gap: 2rem;

	font: 1.5rem "Sen", sans-serif;
	height: 7rem;

	h1 {
		user-select: none;

		position: relative;
		margin-right: 2rem;

		&::after {
			position: absolute;
			right: -2rem;
			top: 40%;

			content: "";
			display: inline-block;

			width: 0px;
			height: 0px;

			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-top: 20px solid var(--white);

			opacity: 0;
			transform: rotate(var(--rotation, 0deg));
			transition: opacity 0.2s, transform 0.2s;
		}

		&:hover {
			cursor: pointer;
		}

		&:hover::after {
			opacity: 1;
			--rotation: 360deg;
		}
	}

	select,
	button {
		background: var(--gray-300);
		color: var(--black);
		font: 1rem "Sen", sans-serif;
		padding: 0.1rem;
		border: 0;
	}

	select {
		border-radius: 1rem;

		height: 1.6rem;
		width: 30rem;
	}

	button {
		border-radius: 0.8rem;

		width: 4rem;
		height: 1.75rem;

		transition: filter 0.2s;

		&:hover {
			filter: brightness(0.8);
		}
	}
}
